.card{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    height: 50%;
}

ul{
    list-style: none;
}

.btn{
    background-color: lightgrey !important;
    margin: 0 0.5rem;
}

@media only screen and (max-width:768px) {
    .card{
        width: 100%;
    }
}