.card{
    width: 50%;
    margin: 3rem auto;
}

ul{
    list-style: none;
}

.btn{
    background-color: lightgrey !important;
    margin: 0 0.25rem;
}

@media only screen and (max-width:768px) {
    .card{
        width: 100%;
        margin: 0rem;
    }
}